
@import 'variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $color-fondo;
  color: $color-texto;
}

nav {
  background-color: $color-principal;
  padding: 10px;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

    li a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.hero {
  background-color: lighten($color-principal, 30%);
  text-align: center;
  padding: 40px;

  h2{
    margin-bottom: 10px;
  }

  a {
    display: inline-block;
    margin-top: 15px;
    background-color: $color-secundario;
    color: white;
    padding: 10px 20px;
    text-decoration: none;

    &:hover {
      background-color: darken($color-secundario, 10%);
    }
  }
}


footer {
  background-color: $color-principal;
  color: white;
  text-align: center;
  padding: 15px;
}
